<div class="subscribe">
	<div class="container">
		<h3>Newsletter</h3>
		<form>
			<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
			<input type="submit" value="Subscribe">
		</form>
	</div>
</div>